In [31]:
#import dependcies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [32]:
#read in csv file and check data
df = pd.read_csv('C:/Users/tanne/Downloads/heart_2020_cleaned.csv/heart_2020_cleaned.csv')
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [33]:
#creating dummie variables
smoking =pd.get_dummies(df['Smoking'])
#dropint no column
smoking = smoking.drop(columns=["No"])
#renaming column
smoking = smoking.rename(columns = {'Yes':'Smoking'})

smoking.head()

   Smoking
0        1
1        0
2        1
3        0
4        0

In [34]:
#creating dummie variables
heartdisease =pd.get_dummies(df['HeartDisease'])
#dropint no column
heartdisease = heartdisease.drop(columns=["No"])
#renaming column
heartdisease = heartdisease.rename(columns = {'Yes':'HeartDisease'})

heartdisease.head()

   HeartDisease
0             0
1             0
2             0
3             0
4             0

In [35]:
#creating dummie variables
alcoholdrinking =pd.get_dummies(df['AlcoholDrinking'])
#dropint no column
alcoholdrinking = alcoholdrinking.drop(columns=["No"])
#renaming column
alcoholdrinking = alcoholdrinking.rename(columns = {'Yes':'AlcoholDrinking'})

alcoholdrinking.head()

   AlcoholDrinking
0                0
1                0
2                0
3                0
4                0

In [36]:
#creating dummie variables
stroke =pd.get_dummies(df['Stroke'])
#dropint no column
stroke = stroke.drop(columns=["No"])
#renaming column
stroke = stroke.rename(columns = {'Yes':'Stroke'})

stroke.head()

   Stroke
0       0
1       1
2       0
3       0
4       0

In [37]:
#creating dummie variables
diffwalking =pd.get_dummies(df['DiffWalking'])
#dropint no column
diffwalking = diffwalking.drop(columns=["No"])
#renaming column
diffwalking = diffwalking.rename(columns = {'Yes':'DiffWalking'})

diffwalking.head()

   DiffWalking
0            0
1            0
2            0
3            0
4            1

In [38]:
#creating dummie variables
diabetic =pd.get_dummies(df['Diabetic'])
#dropping no column
diabetic = diabetic.drop(columns=["No"])
#renameing columns
diabetic = diabetic.rename(columns = {'Yes':'Diabetic',
                                      'Yes (during pregnancy)':'Diabetic (duirng pregnancy)',
                                      'No, borderline diabetes':'Borderline Diabetic'})

diabetic.head(10)

   Borderline Diabetic  Diabetic  Diabetic (duirng pregnancy)
0                    0         1                            0
1                    0         0                            0
2                    0         1                            0
3                    0         0                            0
4                    0         0                            0
5                    0         0                            0
6                    0         0                            0
7                    0         1                            0
8                    1         0                            0
9                    0         0                            0

In [39]:
#creating dummie variables
physicalactivity =pd.get_dummies(df['PhysicalActivity'])
#dropint no column
physicalactivity = physicalactivity.drop(columns=["No"])
#renaming column
physicalactivity = physicalactivity.rename(columns = {'Yes':'PhysicalActivity'})

physicalactivity.head()

   PhysicalActivity
0                 1
1                 1
2                 1
3                 0
4                 1

In [40]:
#creating dummie variables
asthma =pd.get_dummies(df['Asthma'])
#dropint no column
asthma = asthma.drop(columns=["No"])
#renaming column
asthma = asthma.rename(columns = {'Yes':'Asthma'})

asthma.head()

   Asthma
0       1
1       0
2       1
3       0
4       0

In [41]:
#creating dummie variables
kidneydisease =pd.get_dummies(df['KidneyDisease'])
#dropint no column
kidneydisease = kidneydisease.drop(columns=["No"])
#renaming column
kidneydisease = kidneydisease.rename(columns = {'Yes':'KidneyDisease'})


kidneydisease.head()

   KidneyDisease
0              0
1              0
2              0
3              0
4              0

In [42]:
#creating dummie variables
skincancer =pd.get_dummies(df['SkinCancer'])
#dropint no column
skincancer = skincancer.drop(columns=["No"])
#renaming column
skincancer = skincancer.rename(columns = {'Yes':'SkinCancer'})

skincancer.head()

   SkinCancer
0           1
1           0
2           0
3           1
4           0

In [43]:
#creating dummie variables
sex =pd.get_dummies(df['Sex'])
#dropint no column
sex = sex.drop(columns=["Female"])

sex.head()

   Male
0     0
1     0
2     1
3     0
4     0

In [44]:
import category_encoders
mapping = [
    {'col':'GenHealth',
    'mapping':{
        'Poor':1,
        'Fair':2,
        'Good':3,
        'Very good':4,
        'Excellent':5,
    }}
]
encoder = category_encoders.OrdinalEncoder(cols=['GenHealth'], return_df = True, mapping=mapping)

genhealth = encoder.fit_transform(df['GenHealth'])
genhealth

        GenHealth
0               4
1               4
2               2
3               3
4               4
...           ...
319790          2
319791          4
319792          3
319793          3
319794          3

[319795 rows x 1 columns]

In [45]:
race = pd.get_dummies(df['Race'])
race

        American Indian/Alaskan Native  Asian  Black  Hispanic  Other  White
0                                    0      0      0         0      0      1
1                                    0      0      0         0      0      1
2                                    0      0      0         0      0      1
3                                    0      0      0         0      0      1
4                                    0      0      0         0      0      1
...                                ...    ...    ...       ...    ...    ...
319790                               0      0      0         1      0      0
319791                               0      0      0         1      0      0
319792                               0      0      0         1      0      0
319793                               0      0      0         1      0      0
319794                               0      0      0         1      0      0

[319795 rows x 6 columns]

In [46]:
mapping2 = [
    {'col':'AgeCategory',
    'mapping':{
        '18-24':1,
        '25-29':2,
        '30-34':3,
        '35-39':4,
        '40-44':5,
        '45-49':6,
        '50-54':7,
        '55-59':8,
        '60-64':9,
        '65-69':10,
        '70-74':11,
        '75-79':12,
        '80 or older':13,     
    }}
]
encoder = category_encoders.OrdinalEncoder(cols=['AgeCategory'], return_df = True, mapping=mapping2)

age = encoder.fit_transform(df['AgeCategory'])

In [47]:
df2 = df.drop(columns=['HeartDisease', 'Smoking', 'AlcoholDrinking', 'Stroke', 'DiffWalking', 'Sex',
                 'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth','Asthma','KidneyDisease','SkinCancer','AgeCategory'])

In [48]:
df2.head()

     BMI  PhysicalHealth  MentalHealth  SleepTime
0  16.60             3.0          30.0        5.0
1  20.34             0.0           0.0        7.0
2  26.58            20.0          30.0        8.0
3  24.21             0.0           0.0        6.0
4  23.71            28.0           0.0        8.0

In [49]:
dfs = [df2, smoking,heartdisease,alcoholdrinking ,stroke,diffwalking,
         physicalactivity ,diabetic ,asthma ,skincancer ,sex ,genhealth ,age ,race]

In [50]:
dff = pd.concat(dfs, axis=1)
dff.head()

,BMI,PhysicalHealth,MentalHealth,SleepTime,Smoking,HeartDisease,AlcoholDrinking,Stroke,DiffWalking,PhysicalActivity,...,SkinCancer,Male,GenHealth,AgeCategory,American Indian/Alaskan Native,Asian,Black,Hispanic,Other,White
0,16.60,3.0,30.0,5.0,1,0,0,0,0,1,...,1,0,4,8,0,0,0,0,0,1
1,20.34,0.0,0.0,7.0,0,0,0,1,0,1,...,0,0,4,13,0,0,0,0,0,1
2,26.58,20.0,30.0,8.0,1,0,0,0,0,1,...,0,1,2,10,0,0,0,0,0,1
3,24.21,0.0,0.0,6.0,0,0,0,0,0,0,...,1,0,3,12,0,0,0,0,0,1
4,23.71,28.0,0.0,8.0,0,0,0,0,1,1,...,0,0,4,5,0,0,0,0,0,1

In [51]:
list(dff)

['BMI',
 'PhysicalHealth',
 'MentalHealth',
 'SleepTime',
 'Smoking',
 'HeartDisease',
 'AlcoholDrinking',
 'Stroke',
 'DiffWalking',
 'PhysicalActivity',
 'Borderline Diabetic',
 'Diabetic',
 'Diabetic (duirng pregnancy)',
 'Asthma',
 'SkinCancer',
 'Male',
 'GenHealth',
 'AgeCategory',
 'American Indian/Alaskan Native',
 'Asian',
 'Black',
 'Hispanic',
 'Other',
 'White']

In [52]:
# Split the data into feature and target data
X = pd.DataFrame(dff.drop(['HeartDisease'], axis = 1))

y = pd.array(dff['HeartDisease'])

In [53]:
# Split the data into X_train, X_test, y_train, y_test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=444)
X_train

,BMI,PhysicalHealth,MentalHealth,SleepTime,Smoking,AlcoholDrinking,Stroke,DiffWalking,PhysicalActivity,Borderline Diabetic,...,SkinCancer,Male,GenHealth,AgeCategory,American Indian/Alaskan Native,Asian,Black,Hispanic,Other,White
230557,36.61,20.0,5.0,8.0,0,0,0,0,0,0,...,0,0,3,1,0,0,0,0,0,1
138631,24.12,0.0,0.0,8.0,1,0,0,0,0,0,...,0,1,3,3,0,0,0,1,0,0
28051,28.89,0.0,0.0,6.0,0,0,0,0,1,0,...,0,1,4,6,0,0,0,0,0,1
125085,24.79,0.0,2.0,7.0,0,0,0,0,1,0,...,0,0,4,12,0,0,0,0,0,1
144947,39.11,14.0,0.0,7.0,0,0,0,0,1,0,...,0,0,4,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242089,26.15,0.0,10.0,9.0,0,0,0,0,1,0,...,0,0,4,1,0,0,0,0,0,1
267759,28.89,1.0,7.0,6.0,0,0,0,0,0,0,...,0,1,3,1,0,0,0,1,0,0
167176,24.13,5.0,6.0,2.0,0,0,1,0,1,0,...,0,0,4,13,0,0,0,0,0,1
25367,32.12,0.0,0.0,8.0,1,0,0,1,1,0,...,0,0,2,8,0,0,0,1,0,0
23939,30.23,5.0,5.0,6.0,0,0,0,0,1,0,...,1,0,3,11,0,0,0,0,0,1

The Random Forest model was optimized to achieve a high accuracy for both training and test data, both of which are over 90%.

In [86]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(criterion = "entropy")

forest.fit(X_train, y_train)
predictions = forest.predict(X_test)
y_pred_forest = forest.predict(X_test)

In [87]:
#printing scores
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

print('Train Accuracy:', forest.score(X_train, y_train))
print('Test Accuracy:', forest.score(X_test, y_test))
print("Recall Score:", metrics.recall_score(y_test,y_pred_forest))

Train Accuracy: 0.9969313642920874
Test Accuracy: 0.9059525447472764
Recall Score: 0.11854148213758488

The logistic regression model has been optimized to focus on achieving a higher recall score than accuracy because recall measures a model's ability to detect positive targets. In the context of this problem, this would mean focusing more on accurately identifying patients likely to contract heart disease and lowering the chance that the modeling would incorrectly categorize someone as unlikely to contract heart disease. This decision was also influenced by the fact that the data has less than 10% target outcomes, so a high accuracy is not neccessarily a good result if the percentage of unaccurate guesses are all patients with heart disease that the model said would not have it.

In [82]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter = 5000, 
                            solver = 'saga', 
                            penalty = 'l2',
                            class_weight = {1:40})


logreg.fit(X_train, y_train)
y_pred_log = logreg.predict(X_test)

C:\Users\tanne\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

In [83]:
#printing scores
print('Train Accuracy:', logreg.score(X_train, y_train))
print('Test Accuracy:', logreg.score(X_test, y_test))
print("Recall Score:", metrics.recall_score(y_test,y_pred_log))

Train Accuracy: 0.3452215171401649
Test Accuracy: 0.3456703648575967
Recall Score: 0.978742249778565